fastapi
uvicorn
pydantic
langchain
langchain-nvidia-ai-endpoints
langchain-community
langchain-chroma
chromadb
streamlit
python-dotenv
pypdf
python-multipart
beautifulsoup4
sqlalchemy
passlib[bcrypt]
PyJWT
python-multipart
streamlit-authenticator
slowapi
email-validator

